[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twint = {git = "https://github.com/twintproject/twint.git"}
nltk = "*"
orjson = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
python_full_version = "3.7.16"
